:root {
    --gradient-c1: #242424;
    --font: whitesmoke;
    --font-darker: #c2bebe;
    --hover-colour-1: #bb80ff;
    --hover-4: #242424;
    --hover-3: hsla(0,0%,100%,0.3);
    --hover-2: hsla(0,0%,100%,0.1);
    --hover-1: hsla(0,0%,100%,0.04);
    --background-gradient: linear-gradient(to right bottom, #F956B3, #e68114);
    --glass-gradient: #3d3d3db0;
    --font-family: "Poppins", sans-serif;
    
    --playlistEntry-height: 50px;
    --player-height: 88px;
    --sidebar-width: 200px;
}