:root {
    --gradient-c1: #217e41;
    --font: white;
    --font-darker: #a7a7a7;
    --hover-colour-1: #1ed760;
    --hover-4: #242424;
    --hover-3: hsla(0,0%,100%,0.04);
    --hover-2: hsla(0,0%,100%,0.3);
    --hover-1: hsla(0,0%,100%,0.1);
    --background-gradient: #121212;
    --glass-gradient: #181818;
    
    --sidebar-background: black;
    --player-background: #181818;

    --font-family: "Poppins", sans-serif;
    
    --playlistEntry-height: 50px;
    --player-height: 88px;
    --sidebar-width: 200px;
}