:root {
    --gradient-c1: #A5004D;
    --font: whitesmoke;
    --font-darker: #c2bebe;
    --hover-colour-1: #bb80ff;
    --hover-4: #242424;
    --hover-3: hsla(0,0%,100%,0.3);
    --hover-2: hsla(0,0%,100%,0.1);
    --hover-1: hsla(0,0%,100%,0.04);
    --background-gradient: linear-gradient(to left bottom, #A5004D, #6105B0);
    --glass-gradient: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    --font-family: "Poppins", sans-serif;
    
    --playlistEntry-height: 50px;
    --player-height: 88px;
    --sidebar-width: 200px;
}