**/__pycache__
__pycache__

src/usr

src/server/.cache
src/server/_cache
src/server/mypy.ini
src/server/.mypy_cache

src/ui/node_modules
src/ui/public
src/ui/src
src/ui/.idea
src/ui/*.js
src/ui/*.html
src/ui/*.json
src/ui/*.md
