.ms-wght-100 {
    font-variation-settings: "wght" 100;
}

.ms-wght-200 {
    font-variation-settings: "wght" 200;
}

.ms-wght-300 {
    font-variation-settings: "wght" 300;
}

.ms-wght-400 {
    font-variation-settings: "wght" 400;
}

.ms-wght-500 {
    font-variation-settings: "wght" 500;
}

.ms-wght-600 {
    font-variation-settings: "wght" 600;
}

.ms-wght-700 {
    font-variation-settings: "wght" 700;
}
