/* width */
::-webkit-scrollbar {
    width: var(--w-scrollbar);
    height: var(--w-scrollbar);
    padding: 0;
    margin: 0;
    z-index: 101;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: var(--w-scrollbar);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-hover);
    border-radius: var(--w-scrollbar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-hover-dk);
}